<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lejos.nxt.ldt.LaunchType">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Group6FinalProject/src/robot/test/CollectionTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="robot.test.CollectionTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Group6FinalProject"/>
</launchConfiguration>
